@charset "utf-8";
body {
    height: 3000px;
}
fieldset {
    border: 0
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.pos-absolute {
    position: absolute
}
.pos-relative {
    position: relative
}
.d-flex {
    display: flex
}

.ml-auto {
    margin-left: auto
}

#layer1 {
    display: none; /* 표시 : 안함 */
    top: 40px;
    left: 0;
    width: 380px;
    border: 1px solid #efefef;
    background-color: rgb(248, 251, 252);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 1rem
}

.layer-title {
    font-size: 1.125rem;
    border-bottom: 1px solid rgb(149, 149, 149);
    padding-bottom: 10px
}

.shortcut-container {
    justify-content: space-around; 
}

.search {
    border: 2px solid rgb(108, 170, 16);
    width: 50%;
    margin: 0 auto;
    padding: 1rem
}

#search_input {
    border: 0;
    outline: 0;
    width: 80%
}
#search_btn {
    margin-left: auto
}