@charset "utf-8";
body {
    height: 3000px;
}
fieldset {
    border: 0
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.pos-absolute {
    position: absolute
}
.pos-relative {
    position: relative
}
.d-flex {
    display: flex
}
.justify-content-center {
    justify-content: center;
}
.gap-1 {
    gap: 1rem
}
.gap-2 {
    gap: 2rem
}
.gap-3 {
    gap: 3rem
}
.gap-5 {
    gap: 5%
}
.ml-auto {
    margin-left: auto
}

#layer1 {
    display: none; /* 표시 : 안함 */
    top: 40px;
    left: 0;
    width: 380px;
    border: 1px solid #efefef;
    background-color: rgb(248, 251, 252);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 1rem
}

.layer-title {
    font-size: 1.125rem;
    border-bottom: 1px solid rgb(149, 149, 149);
    padding-bottom: 10px
}

.shortcut-container {
    justify-content: space-around; 
}

.search {
    border: 2px solid rgb(108, 170, 16);
    width: 50%;
    margin: 0 auto;
    padding: 1rem
}

#search_input {
    border: 0;
    outline: 0;
    width: 80%
}
#search_btn {
    margin-left: auto
}
/* 후손 선택자 : icon 클래스 후손중에서 p 요소의 스타일 정의 */
.icon p {
    text-align: center;
}

/* ------------------------ layouts --------------------- */
.main-area {
    min-width: 70%
}
.ad {
    height: 130px;
    background-color:burlywood
}
.news {
    height: 250px;
    background-color:cadetblue
}
.shopping {
    height: 200px;
    background-color:coral
}

.sub-area {
    min-width: 25%
}
.login {
    background-color:cornflowerblue;
    height:120px
}
.happy-bean {
    height: 180px;
    background-color:chartreuse
}
.memorial {
    background-color:darkorchid
}

.footer-ad {
    height: 80px;
    background-color:rgb(255, 111, 0)
}
.news{
   height: 60px;
    background-color:rgb(0, 106, 255) 
}
.partner{
  height: 100px;
    background-color:rgb(255, 0, 247)  
}
.extra {
height: 120px;
    background-color:rgb(255, 230, 0)
}